.canvas {
  position: absolute;
  top: 0px;
  left: 0px; }

.error_message_box {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9001;
  width: 250px;
  height: 50px;
  padding: 8px;
  font-family: arial, Helvetica, sans-serif;
  border-radius: 5px;
  background-color: rgba(0, 148, 255, 0.5); }
